.nav-block.activities
  = render 'shared/event_filter'
  .controls
    = link_to dashboard_projects_path(rss_url_options), class: 'btn d-none d-sm-inline-block has-tooltip', title: 'Subscribe' do
      %i.fa.fa-feed

.content_list
= spinner
